/* Applies the box model to all elements */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout styling */

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll;
}

main.container {
  background: #ffffff;
  margin: 0 auto;
  padding: 2em 2em;
  position: relative;
  top: 80px;
  max-width: 450px;
}