#nav-bar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .logo {
  height: 80px;
  float: left;
  width: 80px;
}