/* Navigation bar styling */

#nav-bar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .compose-button {
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 60px;
  margin: 10px 0;
  padding: 0 10px;
}

.compose-hover-off {
  background: #e7fdff;
  color: #009f86;
}

.compose-hover-on {
  background: #ffffff;
  color: #000000;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .logo {
  height: 80px;
  float: left;
  width: 80px;
}

/* On smallest displays, shrink header and logo to prevent .compose-button wrapping */

@media all and (max-width: 375px) {

  #nav-bar .header {
    font-size: 1.5em;
    padding-left: 5px;
  }

  #nav-bar .logo {
    height: 60px;
    width: 60px;
    margin: 10px 0;
  }

}