.new-tweet {
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
.new-tweet h2 {
  border-bottom: 1px solid #888;
}
.new-tweet textarea {
  padding: 5px;
  width: 100%;
}
.new-tweet .counter {
  float: right;
}