/* Tweet stream styling */

/* Initial .tweet classes, before mouseover */

.tweet {
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px;
}

.tweet img.light-avatar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 50px;
  opacity: 0.7;
  width: 50px;
}

.tweet header {
  background: #f3f3f3;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.tweet footer {
  border-top: 1px solid #eeeeee;
  padding: 10px;
}

.tweet p {
  padding: 10px;
}

.tweet span.light-display-name {
  color: #667e84;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 10px;
  vertical-align: top;
}

.tweet span.light-handle {
  color: #cecece;
  float: right;
  line-height: 30px;
  vertical-align: top;
}

.tweet span.interaction-icons {
  color: #66c5b7;
  display: none;
  font-size: 1em;
  float: right;
}

.tweet span.time-since-post {
  font-size: 0.8em;
}

/* Hover state classes after mouseover before mouseleave */

.darker-avatar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 50px;
  opacity: 1;
  width: 50px;
}

.darker-border {
  border: 1px solid #888888;
}

.darker-display-name {
  color: #244751;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 10px;
  vertical-align: top;
}

.darker-handle {
  color: #888888;
  float: right;
  line-height: 30px;
  vertical-align: top;
}

.darker-header {
  background: #eeeeee;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.visible-icons i {
  color: #66c5b7;
  display: inline-block;
  font-size: 1em;
  float: right;
  padding-left: 5px;
}